<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="數據分析資料庫ConnectionString" connectionString="Data Source=CCWENG\CCWENG;Initial Catalog=數據分析資料庫;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.6.2" />
      <httpRuntime targetFramework="4.6.2" />
    </system.web>

</configuration>
